.DS_Store
*.DS_Store*
DerivedData/
build/
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.swp
*.tmp
*.log
*.ipa
*.dSYM.zip
.swiftpm/
.idea/
.vscode/
Pods/
Package.resolved
